<footer >
    <ul class="navbar-nav mb-2 mb-lg-0" style="margin: 0 25% 0 0!important; padding: 0 10px; padding: 30px">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="https://linkedin.com/in/taylor-jefte-da-silva-3221531a1" style="align-items: center; display: flex; max-width: 24em;">
          <img src = "assets/icons/linkedin.svg" alt="My Happy SVG" style="width: 24px; height: auto" />
          <span style="margin-left: 10px">linkedin.com/in/taylor-jefte-da-silva-3221531a1</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/taylorjeftedasilva" style="align-items: center; display: flex; max-width: 18em"> 
          <img src = "assets/icons/github.svg" alt="My Happy SVG" style="width: 24px; height: auto" />
          <span style="margin-left: 10px">github.com/taylorjeftedasilva</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://instagram.com/jf.taylor" style="align-items: center; display: flex; max-width: 14em">
          <img src = "assets/icons/instagram.svg" alt="My Happy SVG" style="width: 24px; height: auto"/>
          <span style="margin-left: 10px"> instagram.com/jf.taylor </span>
        </a>
      </li>
    </ul>
    <div class="rodape" style="background-color: #ed9121; margin-bottom: 0px; text-align: center; font-size: 12px; color: white">
      taylorjeftedasilva@gmail.com
    </div>
</footer>
