.main-header-banner {
    -webkit-user-select: none; /* Para navegadores WebKit (Chrome, Safari) */
    -moz-user-select: none;    /* Para Firefox */
    -ms-user-select: none;     /* Para Internet Explorer e Edge */
    user-select: none;         /* Padrão */
}

.navbar {
    background-color: #ffae00 !important;
}

.main-header-banner img {
    width: 100%;
    height: auto;
}
