<div  *ngIf="listCards; else loading">
  <div class="main-header-banner">
    <img src = "assets/png/banner.png" alt="My Happy SVG" />
  </div>
  <div *ngFor="let carosel of listCards.carosels" class="container section-carosel">
    <div class="myprojects">
      <h2>
        {{carosel.title}}
      </h2>
    </div>
    <div class="carousel">
        <div *ngFor="let card of carosel.cards" class="col">
          <a routerLink="/description/{{carosel.title}}/{{card.title}}">
            <div class="card">
              <div class="image-render-my-projects">
                <img src={{card.imagePath}} class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <h1 class="card-title-projeto">{{card.title}}</h1>
                <p class="card-text text-limited">{{card.description}}</p>
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading">
    <div class="d-flex justify-content-center mt-5 ">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
