<div *ngIf="cardDescription; else loading">

    <div  class="title">
      <div class="title-card">
        <img class="logo-title" *ngIf="cardDescription.cardDetail?.title?.image" src="{{cardDescription.cardDetail?.title?.image}}" alt="">
        <h1  *ngIf="!cardDescription.cardDetail?.title?.image" > {{ cardDescription.cardDetail?.title?.text }}  </h1>
      </div>
      <hr class="colored text-center">
    </div>

    <div class="container text-center">
      <div class="row">
        <div *ngIf="cardDescription.cardDetail?.topicos?.contratante" class="col-md-4">
          {{ cardDescription.cardDetail?.topicos?.contratante}}
        </div>
        <div *ngIf="cardDescription.cardDetail?.topicos?.projeto" class="col-md-4">
          {{ cardDescription.cardDetail?.topicos?.projeto}}
        </div>
        <div *ngIf="cardDescription.cardDetail?.topicos?.duracao"  class="col-md-4">
          {{ cardDescription.cardDetail?.topicos?.duracao}}
        </div>

        <ng-container  *ngFor="let section of cardDescription.cardDetail?.topicos?.sections">
          <ng-container *ngIf="section.ignore_menu_section !== true" >
            <div *ngFor="let item of section.items" class="col-md-4" (click)="scrollToSection($event, item.title_text)">
              {{ item.title }}
            </div>
          </ng-container>
        </ng-container>

      </div>
    </div>

    <ng-container  *ngFor="let section of cardDescription.cardDetail?.topicos?.sections">
      <ng-container *ngFor="let item of section.items">
        <section class="content-block-info" id="{{item.title_text }}">
          <div class="content-block-title-h2"> 
            <h2> {{ item.title }} </h2>
          </div>
          <div class="container safeHtml">
            <h3 class="h4">
              {{ item.title_text }}
            </h3>
            <div [innerHTML]="sanitizerTransform(item.text)"></div>
          </div>
        </section>
      </ng-container>
    </ng-container>

</div>

<ng-template #loading>
    <div class="loading">
      <div class="d-flex justify-content-center mt-5 ">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
</ng-template>